{% extends 'main.html' %}

{% block title%} OTS - Registration Status {%endblock title%}
{% block top%}
<a href="{% url 'OTS:registrationForm' %}">Signup</a>
<a href="{% url 'OTS:login' %}">Login</a>
{%endblock %}
{% block content %}
{% if userStatus == 1 %}
    <div class="error-message">
        Sorry, username already exists, please try a different username.
        <a href="{% url 'OTS:registrationForm' %}">Back to Candidate Registration Form</a>
    </div>
{% elif userStatus == 2 %}
    <div class="success-message">
        Congratulations!!, User created successfully
        <a href="{% url 'OTS:login' %}">Login</a>
    </div>
{% elif userStatus == 3 %}
    <div class="error-message">
        Oops!!, Improper Request
        <a href="{% url 'OTS:registrationForm' %}">Back to Candidate Registration Form</a>
    </div>
{% endif %}
{% endblock %}
